body {
    font-family: Georgia, Times, serif;
  }
  h1 {
    font-family: Arial, Verdana, sans-serif;
  }
  .credits {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


  .credits {
    font-weight: lighter;
  }